.section-header {
    color: #fff;
    background: url("../img/communicate.jpg") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  .section-header::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 60%;
  }
  .section-header-logo {
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1;
    padding-top: 35px;
    margin-left: 10%;
  }
  .section-header-content {
    align-items: center;
    padding-top: 15%;
  }
  .section-header-wrapper {
    margin: 0 auto;
  }
  .section-header-wrapper__title {
    font-weight: bold;
    /*font-size: 56px;*/
    font-size: calc(20px + (56 - 20) * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(20px + (60 - 20) * ((100vw - 320px) / (1200 - 320)));
    text-align: center;
    margin-bottom: calc(20px + (16 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  .section-header-wrapper__subtitle {
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    font-size: calc(20px + (18 - 20) * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(20px + (32 - 20) * ((100vw - 320px) / (1200 - 320)));
    margin: 0px auto 44px;
    width: 50%;
  }
  .section-header-wrapper__form {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
  }
  @media (max-width: 950px) {
    .section-header-wrapper__form {
      display: block;
      justify-content: center;
    }
  }
  .section-header-wrapper__form-input {
    flex: 1;
    padding-right: 40px;
    padding-right: calc(20px + (40 - 20) * ((100vw - 320px) / (1200 - 320)));
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  .section-header-wrapper__form-input input {
    font-family: "Montserrat Alternates", sans-serif;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 16px 20px;
    outline: none;
    border-radius: 4px;
    width: 100%;
    transition: 0.2s;
  }
  .section-header-wrapper__form-input input::placeholder {
    color: #fff;
  }
  .section-header-wrapper__form-input input:focus {
    background: rgba(255, 255, 255, 0.4);
  }
  